@charset "UTF-8";
html {
	font-size: 16px;
}
body {
	
	max-width: 600px;
	margin: 0 auto;
	color: rgb(156, 103, 206);
	background-color: rgb(222, 192, 248);
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;


}
h1, h2, h3, h4
{color: rgb(42, 10, 73);

}


nav a:hover, nav a:active
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: blueviolet;
	color: rgb(119, 45, 107);


	



}




#allasheader  {
	background-image:url(../img/diagram-pa-vitbakgrund-nuevo.jpg) ;
	

}
header  {
	text-align: center;
	font-style: italic;
	
	


}
.pregunta  {
	max-width: 600px;
}

.svar {
	text-align: justify;
}
main ul {
	list-style: square;
	text-align: justify;

}
.left
{text-align: left;

}
#footerrrr img {
	max-height: 150px;
}

	#footerrrr  {
		text-align: center;
		border-top: 1px solid  rgb(42, 10, 73);
		margin-top: 20px;


}