@charset "UTF-8";
html {
	font-size: 16px;
}
body {
	
	max-width: 600px;
	margin: 0 auto;
	color: rgb(78, 43, 110);
	background-color: rgb(222, 192, 248);
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;


}
h1, h2, h3, h4
{color: rgb(42, 10, 73);

}


nav a:hover, nav a:active
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: blueviolet;
	color: rgb(26, 1, 22);

}


#allasheader img {
	max-height: 200px;

}
#allasheader {
	text-align: center;
}
.pregunta  {
	max-width: 600px;
}
.svar {
	text-align: justify;
}
main ul {
	list-style: square;
	text-align: justify;

}
.left
{text-align: left;

}
#footerrrr img {
	max-height: 150px;
}

	#footerrrr  {
		text-align: center;
		border-top: 1px solid  rgb(42, 10, 73);
		margin-top: 20px;


}